<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <context:component-scan base-package="com.es.core"/>

    <import resource="classpath:resource-configure.xml"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.ulr}"/>
        <property name="username" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="fromPhoneListToDataConverter" class="com.es.core.converter.FromPhoneListToDataConverter">
        <property name="populators">
            <list>
                <ref bean="fromPhoneListToDataPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="fromFindAndSortFormToModelConverter" class="com.es.core.converter.FromFindAndSortFormToModelConverter">
        <property name="populators">
            <list>
                <ref bean="fromFindAndSortFormToModelPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="cartToCartDataConverter" class="com.es.core.converter.FromCartToCartDataConverter">
        <property name="populators">
            <list>
                <ref bean="fromCartToCartDataPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="fromPhoneToDataConverter" class="com.es.core.converter.FromPhoneToDataConverter">
        <property name="populators">
            <list>
                <ref bean="fromPhoneToDataPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="fromOrderToOrderDataConverter" class="com.es.core.converter.FromOrderToOrderDataConverter">
        <property name="populators">
            <list>
                <ref bean="fromOrderToOrderDataPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="fromUserFormToModelConverter" class="com.es.core.converter.FromUserFormToModelConverter">
        <property name="populators">
            <list>
                <ref bean="fromUserFormToModelPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="fromOrderToAdminOrderDataConverter" class="com.es.core.converter.FromOrderToAdminOrderDataConverter">
        <property name="populators">
            <list>
                <ref bean="fromOrderToAdminOrderDataPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="fromOrderToAdminDataConverter" class="com.es.core.converter.FromOrderToAdminDataConverter">
        <property name="populators">
            <list>
                <ref bean="fromOrderToAdminDataPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="fromOrderToOrderOverviewDataConverter"
          class="com.es.core.converter.FromOrderToOrderOverviewDataConverter">
        <property name="populators">
            <list>
                <ref bean="fromOrderToOrderOverviewDataPopulator"/>
            </list>
        </property>
    </bean>
    <jdbc:initialize-database enabled="${db.insertSchema}" data-source="dataSource">
        <jdbc:script location="classpath:db/schema.sql"/>
    </jdbc:initialize-database>


</beans>